:root {
    --color-brand: #0e3eda;
    --color-primary: #f473b9;
    --color-secondary: #ffbde6;
    --color-ternary: #ffddee;
}

* {
    font-family: "Lato";
    font-weight: 400;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
