:root {
    --color-brand: #0e3eda;
    --color-primary: #f473b9;
    --color-secondary: #ffbde6;
    --color-ternary: #ffddee;

    --color-error: rgb(209, 67, 67);
}

* {
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

a {
    color: var(--color-brand);
}

a svg {
    vertical-align: text-bottom;
}
