.tabs {
    border-bottom: 1px solid #dedede;
    display: inline-flex;
    width: 100%;
}

.tabs a {
    font-weight: 700;
    color: #aaa;
    text-decoration: none;
    padding: 10px 5px;
}
.tabs a.active {
    color: var(--color-brand);
}
