.catch-boundary {
    padding: 50px;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fc483d;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI,
        Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol;
}
.catch-boundary > h1 {
    max-width: 600px;
}

.catch-boundary > pre {
    max-width: 800px;
    width: 100%;
    text-align: left;
    font-size: 13px;
    padding: 1rem;
    border-radius: 0.5rem;
    color: rgba(0m 0m 0m 0.7);
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.1);
}
