:root {
  --text-prose: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;

  --text-heading: "Space Grotesk", "Arial Black", sans-serif;
}

* {
  font-family: var(--text-prose);
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "sidebar main";
  min-height: 100vh;
}

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: sidebar;
  background-color: lightgray;
}

.sidebar-header {
  grid-area: 1 / 1 / 2 / 2;

  padding: 0rem;
}

.sidebar-main {
  grid-area: 2 / 1 / 4 / 2;
  padding: 2rem 1rem;
}

.sidebar-footer {
  grid-area: 3 / 1 / 4 / 2;
  padding: 10px;
  align-items: center;
  display: flex;
  column-gap: 10px;
}

.main {
  grid-area: main;
  padding: 2rem;
}

.block-link {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 4px;
  border-radius: 10px;
  column-gap: 10px;
}

.block-link-active {
  background-color: darkgray;
}

.avatar {
  background: grey;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.profile-name {
  font-size: 14px;
}
