.invitation-form {
    padding: 50px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.invitation-form-elements {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
}

.subtitle {
    opacity: 60%;
    margin-top: 10px;
    margin-bottom: 20px;
}
