.invitation-form {
  padding: 50px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.invitation-form-elements {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
  padding: 0;
  border: 0;
}

.invitation-form-elements .input-group {
  flex-grow: 1;
}

.inv-text {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
}

.subtitle {
  font-size: 14.5px;
  opacity: 60%;
  line-height: 50px;
}
